html {
    height: 100%;
    /*overflow: hidden;*/
}
body {
    height: 100%;
    overflow: auto;
    margin: 0;
}
.content {
    margin-left: 110px;
    width: calc(100% - 220px);
    color: #59646A;
    overflow: auto;
}
::-webkit-scrollbar {
    display: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.init_block_item {
    display: inline-block;
    margin-top: 110px;
}
.init_block_item#img {
    margin-top: calc(110px + 158px);
}
.init_block_item#info {
    float: right;
    width: 220px;
    height: 100%;
    position: fixed;
    right: 110px;
}
.init_block_item#info .info_item#title{
    font-family: "GothamBlack";
    font-weight: 500;
    font-size: 24px;
    color: #394247;
    cursor: default;
}
.init_block_item#info a .info_item#title {
    cursor: pointer;
}
.init_block_item#info .info_item .title {
    margin-top: 46px;
    margin-bottom: 10px;
    font-family: "Gotham";
    font-weight: Bold;
    font-size: 12px;
    color: #394247;
    cursor: default;
}
.init_block_item#info .info_item#contact .title{
    margin-top: 80px;
}
.init_block_item#info .info_item#contact .desc_contact{
    font-family: "GothamLight";
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #869196;
}
.init_block_item#info .info_item#contact .desc_contact:hover {
    text-decoration: underline;
}
.enter {
    background-color: #394247;
    /*box-shadow: 0px 3px 5px rgba(0,0,0, 0.25);*/
}
.tippy-tooltip-content {
    font-family: 'GothamLight';
    font-size: 12px;
    cursor: default;
}
.init_block_item#info .info_item#members .title {
    margin-top: 46px;
}
.init_block_item#info .info_item#members .info {
    display: inline-block;
    width: 54px;
    margin-right: 12px;
    cursor: pointer;
}
.init_block_item#info .info_item#members .info#hyuk {
    cursor: alias;
}
.init_block_item#info .info_item#members .info#sol {
    cursor: help;
}
.init_block_item#info .info_item#members .info#shin {
    cursor: crosshair;
}
.init_block_item#info .info_item#members .info img {
    width: 100%;
    height: 54px;
    border-radius: 50%;
}
.init_block_item#info .info_item#members .info .name {
    margin-top: 8px;
    text-align: center;
    font-family: "GothamMedium";
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
}
.init_block_item#info .info_item#members .info .phone {
    margin-top: 8px;
    font-family: "GothamLight";
    font-weight: 500;
    font-size: 9px;
    line-height: 15px;
    text-align: center;
}
.init_block_item#info .info_item#reservation .title {
    margin-top: 80px;
}

.img_block {
    margin-top: 25vh;
}
.img_block .item_wrapper {
    width: 640px;
}
.item_img {
    background: url("https://lh3.googleusercontent.com/T0TWnGKfBk5XE97ALst8jQR8lvdjX49mBRchSwNY1deEnafzBnrs7mdky29I3nNdxR19lsi52fTLVs-FZTh2jIRmzQ7Q6k7NoJsQ0JcmJLV5YqwQl9FQg-nz00KqF5ZUjDloXmzC4IasdEhq8YbJ1Y1zti4V1fEcinzs3CWuGI_yFVNf-5Xumjlc5q6lgiycnwv38F564guGjddlIAEI7rkm638tYnzqamHzsGPhOXXfEMMkO-lsrYy1j_HErzhEiif6onFSqJQsFkQaUsV7T6zqB4jFM6gWylIpW227_Qv0-HVOqRZ9IAA5OinAYWi4QVTmhIALfCBocmTkBZ0RyHqT-vK1DToZq4N_JuuSTZNjzNxDxKD3TS122YLrS0Uap59GSFNniERW1QNhXTM-gurX5FRdvLmRBvA8APw7KAph72aaU0dWOZbeWwSxXbrVUakAFj2vn3Bl42ujX9cY86vjBXD474KKPJ9xkl1OdOtBJsHUn1C1MK1L9GbChmwhoPPX3juX5eMtyC5OAbzGz6qSKt6H3WyHBT4Qzx3672VGqr2TU9fnI7RwIWQkYyoXst_ZcgBRpaglyUDw_OoLQtegBrSElK0Czq3AVnoenuCIhIyZW7d42oCMCMXRfF128wRyIeK0LgOk2dCRTAfATWnw7Z5phtECsnsa=w1864-h1398-no");
    background-position: center;
    background-size: 100%;
    width: 620px;
    height: 348px;
}
.item_img#img1 {
    background: url("https://lh3.googleusercontent.com/ArjZsCb5DqLjrK_ZP9JgIPjjXAjzMXiQArcV4UUj2MZCE4P_GEaXQqhkTJy4NR2MPrzyRmlnjQyLHjOx7pzdgmpMunY17p9ea0l8nFiv-rsgIL2fhNP6ZIf1KfKd2Dax89JZLKF5I9I8wJeWW1GSjNglFVbPC7_eOjoxVrOfa0OOdjVqRMdZBkfuaBYIGb4mli7i-MYHt64y6oSAKF39okIbeVKX22cJWbubAs1PagT6kwzuqrVu9JVwYiYbf5forHbChmyp3ePpLZ54WCGtGIVfZGZ_5bS_j9BKEm8-JDjUELxYpOfCntl7xclsnekRHuPr6jyfrs9UT4yqbbUOZlheIcIr__QuRoEC0ciGnXupfYgS1nKUQ4jMqimtVZ06av-lh5ss-wTwr9tsi__WFBTWk-dXS1HLoG39qcvMo979WP4w57dGxb6F-bxIMT8nxjhhU2W5bj7bFX81ICV_Z5QZDKIigZVZdJuI6atPNNxxLs-zF9ShhT91SiPWqqEyS2Zf_Cq2o5OpCukXyv2qU2KbYT7Abx3Xq9YMZ8IXO6girzmY5WWQ1c3-De0qREa4r28rRXH0f8z70bwfhhsdkfjOF8P6x6xQS8qmbdjEiP3sGHvyp6hq49aEg_gwd5bp2TxlD7siD3Wq6BssfWByOW1MX1pp8oYp2waf=s1398-no");
    background-position: center;
    background-size: 100%;
    width: 480px;
    height: 480px;
}
.item_img#2 {
    background: url()
}
.item_img#3 {
    background: url()
}
.item_img_desc {
    font-family: Courier;
    margin-top: 8px;
    font-size: 13px;
}
.footer {
    width: 100%;
    height: 300px;
    display: block
}


span.input-buttons {
    display: none;
}
input[type="date"].date_picker {
    display: none !important;
}

input.ws-date, button.ws-popover-opener{
    display: none;
}
div.ws-po-box {
    width: calc(220px - 24px);
    padding: 12px;
}

.input-picker .ws-picker-controls>button {
    background: none;
    border: none;
}
.input-picker .ws-picker-body {

}
.input-picker abbr[title] {
    text-decoration: none;
}
.input-picker .picker-list.day-list td>button {
    width: 22px;
    height: 22px;
    outline: none;
}
.input-picker .ws-button-row {
    display: none;
}

input {
    outline: none;
    border: none;
    border-bottom: 1px solid #f7f8f9;
    font-size: 12px;
    margin-top: 12px;
    width: 100%;
}
/*input#name, input#phone {
    display: inline-block;
    width: 100px;
}*/
button {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    margin-top: 12px;
}
button:active {
    color: #acacac;
}
