@font-face { font-family: GothamBlack; src: url('./fonts/GothamBlack.otf'); }
@font-face { font-family: GothamBold; src: url('./fonts/GothamBold.otf'); }
@font-face { font-family: GothamMedium; src: url('./fonts/GothamMedium.otf'); }
@font-face { font-family: Gotham; src: url('./fonts/GothamBook.otf'); }
@font-face { font-family: GothamLight; src: url('./fonts/GothamLight.otf'); }


html {
    height: 100%;
    /*overflow: hidden;*/
}
body {
    height: 100%;
    overflow: auto;
    margin: 0;
}

.topnavi {
    top: 0;
    width: calc(100% - 80px);
    position: fixed;
    padding: 18px 40px;
    border-bottom: 1px solid #f7f8f9;
    background-color: white;
    transition: all ease 0.2s;
    opacity: 0;
    height: 0;
}
.topnavi.show {
    opacity: 1;
    height: auto;
}
.topnavi div {
    display: inline-block;
}
.topnavi .title {
    float: left;
    font-family: "GothamBlack";
    font-weight: 500;
    font-size: 12px;
    color: #394247;
    cursor: default;
    vertical-align: middle;
}
.topnavi .reserve {
    float: right;
    font-family: "GothamBold";
    font-size: 12px;
    color: #394247;
    cursor: default;
    vertical-align: middle;
}

.content {
    margin: 40px;
    color: #59646A;
    overflow: auto;
}
::-webkit-scrollbar {
    display: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.init_block_item {
    display: inline-block;
    margin-top: 110px;
}
.init_block_item#img {

}
.init_block_item#info {
    width: 100%;
    height: 100%;
}
.init_block_item#info .info_item#title{
    font-family: "GothamBlack";
    font-weight: 500;
    font-size: 24px;
    color: #394247;
    cursor: default;
}
.init_block_item#info a .info_item#title {
    cursor: pointer;
}
.init_block_item#info .info_item .title {
    margin-top: 46px;
    margin-bottom: 10px;
    font-family: "GothamBold";
    font-size: 12px;
    color: #394247;
    cursor: default;
}
.init_block_item#info .info_item#contact .title{
    margin-top: 80px;
}
.init_block_item#info .info_item#contact .desc_contact{
    font-family: "GothamLight";
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #869196;
}
.init_block_item#info .info_item#contact .desc_contact:hover {
    text-decoration: underline;
}
.enter {
    background-color: #394247;
    /*box-shadow: 0px 3px 5px rgba(0,0,0, 0.25);*/
}
.tippy-tooltip-content {
    font-family: 'GothamLight';
    font-size: 12px;
    cursor: default;
}
.init_block_item#info .info_item#members .title {
    margin-top: 46px;
}
.init_block_item#info .info_item#members .info {
    display: inline-block;
    width: 54px;
    margin-right: 12px;
    cursor: pointer;
}
.init_block_item#info .info_item#members .info#hyuk {
    cursor: alias;
}
.init_block_item#info .info_item#members .info#sol {
    cursor: help;
}
.init_block_item#info .info_item#members .info#shin {
    cursor: crosshair;
}
.init_block_item#info .info_item#members .info img {
    width: 100%;
    height: 54px;
    border-radius: 50%;
}
.init_block_item#info .info_item#members .info .name {
    margin-top: 8px;
    text-align: center;
    font-family: "GothamMedium";
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
}
.init_block_item#info .info_item#members .info .phone {
    margin-top: 8px;
    font-family: "GothamLight";
    font-weight: 500;
    font-size: 9px;
    line-height: 15px;
    text-align: center;
}
.init_block_item#info .info_item#reservation .title {
    margin-top: 80px;
}

.img_block {
    margin-top: 25vw;
}
.img_block .item_wrapper {
    width: 640px;
}
.item_img {
    background: url("https://lh3.googleusercontent.com/T0TWnGKfBk5XE97ALst8jQR8lvdjX49mBRchSwNY1deEnafzBnrs7mdky29I3nNdxR19lsi52fTLVs-FZTh2jIRmzQ7Q6k7NoJsQ0JcmJLV5YqwQl9FQg-nz00KqF5ZUjDloXmzC4IasdEhq8YbJ1Y1zti4V1fEcinzs3CWuGI_yFVNf-5Xumjlc5q6lgiycnwv38F564guGjddlIAEI7rkm638tYnzqamHzsGPhOXXfEMMkO-lsrYy1j_HErzhEiif6onFSqJQsFkQaUsV7T6zqB4jFM6gWylIpW227_Qv0-HVOqRZ9IAA5OinAYWi4QVTmhIALfCBocmTkBZ0RyHqT-vK1DToZq4N_JuuSTZNjzNxDxKD3TS122YLrS0Uap59GSFNniERW1QNhXTM-gurX5FRdvLmRBvA8APw7KAph72aaU0dWOZbeWwSxXbrVUakAFj2vn3Bl42ujX9cY86vjBXD474KKPJ9xkl1OdOtBJsHUn1C1MK1L9GbChmwhoPPX3juX5eMtyC5OAbzGz6qSKt6H3WyHBT4Qzx3672VGqr2TU9fnI7RwIWQkYyoXst_ZcgBRpaglyUDw_OoLQtegBrSElK0Czq3AVnoenuCIhIyZW7d42oCMCMXRfF128wRyIeK0LgOk2dCRTAfATWnw7Z5phtECsnsa=w1864-h1398-no");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: calc(100vw / 1.6);
}
.item_img#img1 {
    background: url("https://lh3.googleusercontent.com/ArjZsCb5DqLjrK_ZP9JgIPjjXAjzMXiQArcV4UUj2MZCE4P_GEaXQqhkTJy4NR2MPrzyRmlnjQyLHjOx7pzdgmpMunY17p9ea0l8nFiv-rsgIL2fhNP6ZIf1KfKd2Dax89JZLKF5I9I8wJeWW1GSjNglFVbPC7_eOjoxVrOfa0OOdjVqRMdZBkfuaBYIGb4mli7i-MYHt64y6oSAKF39okIbeVKX22cJWbubAs1PagT6kwzuqrVu9JVwYiYbf5forHbChmyp3ePpLZ54WCGtGIVfZGZ_5bS_j9BKEm8-JDjUELxYpOfCntl7xclsnekRHuPr6jyfrs9UT4yqbbUOZlheIcIr__QuRoEC0ciGnXupfYgS1nKUQ4jMqimtVZ06av-lh5ss-wTwr9tsi__WFBTWk-dXS1HLoG39qcvMo979WP4w57dGxb6F-bxIMT8nxjhhU2W5bj7bFX81ICV_Z5QZDKIigZVZdJuI6atPNNxxLs-zF9ShhT91SiPWqqEyS2Zf_Cq2o5OpCukXyv2qU2KbYT7Abx3Xq9YMZ8IXO6girzmY5WWQ1c3-De0qREa4r28rRXH0f8z70bwfhhsdkfjOF8P6x6xQS8qmbdjEiP3sGHvyp6hq49aEg_gwd5bp2TxlD7siD3Wq6BssfWByOW1MX1pp8oYp2waf=s1398-no");
}
.item_img_desc {
    font-family: Courier;
    margin-top: 8px;
    font-size: 13px;
}
.footer {
    width: 100%;
    height: 25vw;
    display: block
}


span.input-buttons {
    display: none;
}


input {
    outline: none;
    border: none;
    border-bottom: 1px solid #f7f8f9;
    font-size: 12px;
    margin-top: 12px;
    padding: 0px;
    width: 100%;
}
button#submit {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: none;
    margin-top: 12px;
}
button#submit:active {
    color: #acacac;
}
